.bg-primary {
    background-color:#0073CF !important;
}

.btn-danger{
    background-color: tomato !important;
}

.sb-sidenav-dark{
    background-image: url(../icon/books-bg.jpg);
    background-size: cover;
}

.clr-dark {
    color: black !important;
}
